.git
.gitignore
.github

.env
.env.example
.env.local
.env.development
.env.production

node_modules
vendor
bootstrap/cache/*.php

npm-debug.log
yarn-debug.log
yarn-error.log
.npm
.webpack
.cache

.DS_Store
Thumbs.db

storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*

tests
phpunit.xml
.phpunit.result.cache

.idea
.vscode
*.swp
*.swo

*.zip
*.tar
*.gz

public/hot
public/storage
public/build
public/mix-manifest.json

composer.phar
